<aside>
	<div class="panel radius">
		<!--<h3>Rester informé !</h3>-->
		<!-- <form action="//formspree.io/esprit.savate@gmail.com" method="POST" data-abide>
			<input type="text" name="name" placeholder="Prénom" required >
    		<input type="email" name="_replyto" placeholder="email" required >
    		<input type="submit" class="button expand" value="S'inscrire !">
		</form> -->

		<form action="https://tinyletter.com/construireserein" method="POST" target="popupwindow" onsubmit="window.open('https://tinyletter.com/construireserein', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true" data-abide>
    		<input type="email" name="email" placeholder="Saisis ton mail ici" id="tlemail" required >
    		<input type="submit" class="button expand" value="S'inscrire !">
		</form>

	</div>
<!--
  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
-->
</aside>
